.App {
  text-align: center;
  
}
.bg-body-tertiary{
  background-color: rgb(169, 185, 109);
  width: 100%;
}
.C{
  margin:20px;
  border: 2px solid black;
}
.InputBox{
  margin: 20px;
  float: left;
  flex: auto;
  border:2px Solid rgb(95, 139, 177);
  height: 250px;
  width: 300px;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
